.apps {
    &__inner {
        max-width: 322px;
        width: 1005;
    }

    &__title {
        text-align: left;
        margin-bottom: 12px;
    }

    &__wrap {
        display: flex;
        align-items: center;
        gap: 79px;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        gap: 24px;
    }

    &__item {
        max-width: 381px;
        width: 100%;
    }

    &__item.blur-plate {
        border-radius: 32px;
        padding: 24px;

        &::after {
            border-radius: 32px;
            background: linear-gradient(15.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(200.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }

    &__subtitle {
        font-size: 28px;
        margin-bottom: 8px;
        font-weight: 600;
    }

    &__descr {
        margin-bottom: 20px;
    }

    &__links {
        display: flex;
        gap: 12px;
        justify-content: center;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        transition: color 0.3s, box-shadow 0.3s, transform 0.3s;

        &:hover {
            color: $light-900;
        }

        &:focus {
            box-shadow: 0 0 16px $light-900;
        }
    }

    &__link.blur-plate {
        padding: 12px 50px;
        background: linear-gradient(198.87deg, rgba(255, 255, 255, 0.18) -160.13%, rgba(254, 255, 255, 0.03) 72.05%, rgba(255, 255, 255, 0.12) 207.89%);

        &:active {
            transform: scale(0.9);
        }
    }
}