html[dir="rtl"] {
  direction: rtl;
  text-align: right;
  
  .advantages__item {
    text-align: right;
  }
  .steps {
    .title {
      text-align: right;
    }
    &__info {
      text-align: right;
    }
    &__list {
      justify-content: flex-start;
    }
    &__item::before {
      left: auto;
      right: 32px;
    }
  }
  .faq {
    &__inner {
      padding-right: 0;
      padding-left: 50px;
    }
    &__title {
      text-align: right;
    }
    &__icon {
      transform: rotate(180deg);
    }
    &__icon.faq__icon--open {
      transform: rotate(270deg);
    }
    &__button.active{
      .faq__icon {
        transform: rotate(270deg);
      }
    }
  }
  .plan__list-item {
    text-align: right;
  }
}