.map {
  &__inner {
    svg{
      width: 100%;
      height: auto;
    }
  }
}

.map-flag.is-active {
  animation: pulse 1.5s infinite ease-in-out;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
    filter: drop-shadow(#3DDC84 100px 100px 100px);
  }
}