.footer {
    backdrop-filter: blur(16px);
    padding: 20px 0;
    border-radius: 32px 32px 0 0;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 100px;
        flex-wrap: wrap;
        padding-bottom: 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.06);
    }

    &__logo {
        display: inline-block;
        margin-bottom: 12px;
    }

    &__address {
        display: flex;
        align-items: center;
        gap: 32px;
        margin-bottom: 20px;
    }

    &__link {
        display: flex;
        align-items: center;
        gap: 12px;
        border-bottom: 1px solid transparent;
        transition: color 0.3s, box-shadow 0.3s, border-color 0.3s;

        &:hover {
            color: $light-900;
        }

        &:focus {
            text-shadow: 0 0 11px $light-900;
        }

        &:active {
            border-color: $light-900;
            color: $light-900;
        }
    }

    &__icon.blur-plate {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        padding: 0;

        &::after {
            background: linear-gradient(37.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(211.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }

    &__list-payments {
        display: flex;
        gap: 8px;
    }

    &__copyright {
        margin: 12px 0 20px;
        display: block;
        text-align: center;
        opacity: 0.6;
    }
}

.social {
    display: flex;
    gap: 8px;

    &__link {
        transition: box-shadow 0.3s, outline 0.3s;

        &:hover {
            box-shadow: 0 4px 34px $light-900-opacity-64;
        }

        &:focus {
            box-shadow: 0 0 16px $light-900-opacity-75;
        }

        &:active {
            outline: 1px solid $light-900;
        }
    }

    &__link.blur-plate {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        width: 40px;
        height: 40px;

        &::after {
            background: linear-gradient(37.35deg, rgba(61, 220, 132, 0) 60.32%, #3DDC84 94.79%), linear-gradient(211.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        }
    }
}