

.top {

}
.home {
  //background-color: $dark;
  background: linear-gradient(180deg, rgba(13, 27, 42, 0) 0%, #0D1B2A 100%);
  z-index: 0;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../../images/home-bg.png');
    inset: 0;
    width: 100%;
    height: 462px;
    z-index: -1;
  }
  &__inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__tab-nav {
    width: 100%;
    flex: 0 0 265px;
    position: relative;
    padding: 25px;

    backdrop-filter: blur(16px);
    background: linear-gradient(
      231.87deg, 
      rgba(255, 255, 255, 0.18) -30.13%, 
      rgba(255, 255, 255, 0.03) 57.05%, 
      rgba(255, 255, 255, 0.12) 137.89%);
      border: 1px solid transparent;
      border-radius: 32px;
      overflow: hidden;
      z-index: 0; // выше градиентов
    &::before {
        content: '';
        position: absolute;
        border-radius: 32px;
        z-index: -1;
        padding: 2px;
        inset: 0;
        background:
          linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%),
          linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
    
        mask:
          linear-gradient(#fff, #fff) content-box,
          linear-gradient(#fff, #fff);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
      }
    }

  &__tab-nav-title {
    @include RobotoCondensed-600;
    font-size: 25px;
    color: $light;
    line-height: 1;
    margin-bottom: 30px;
  }
  &__tabs-content {
    max-width: 785px;
    width: 100%;
  }
}

.tab {
  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__inner {
    display: flex;
    align-items: stretch;
  }

  &__content {

  }

}

.tab-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  &__btn {
    @include Inter-400;
    color: $light;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    background-color: transparent;
    display: block;
    padding: 2px 0;
    position: relative;
    width: 100%;
    text-align: left;

    &:hover {
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }
    
      &::before {
        left: -25px;
      }
    
      &::after {
        right: -25px;
      }
    }

    &:active {
    }


    &--active {
      color: $light-900;
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }
      &::before {
        left: -25px;
      }
      &::after {
        right: -25px;
      }
    }
  }
}

.terms,
.privacy,
.refund,
.aboutUs {
  &__section {
    padding: 15px 0;
  }
  &__main-title {
    @include RobotoCondensed-600;
    font-size: 72px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
  }
  &__title {
    @include RobotoCondensed-600;
    font-size: 36px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
  }
  &__subtitle {
    @include RobotoCondensed-600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
  }
  &__text {
    @include Inter-400;
    font-size: 18px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
    &--down {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    @include Inter-400;
    font-size: 18px;
    line-height: 1;
    color: $light;
    padding-left: 38px;
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $light-900;
    }
  }
}
.terms-link {
  @include Inter-400;
  color: $light-900;
  font-size: 18px;
  position: relative;
  padding-bottom: 1px;
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $light-900;
  }
}