

.top {

}
.home {
  background-color: $dark;
  z-index: 0;
  position: relative;
  &::before {
    position: absolute;
    content: "";
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../images/home-bg.jpg');
    inset: 0;
    width: 100%;
    height: 462px;
    z-index: -1;
    opacity: .3;
  }
  &__inner {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  &__tab-nav-wrapper {
    position: relative;
    width: 100%;
    flex: 0 0 264px;
    padding: 2px;
    border-radius: 32px;
    overflow: hidden;
    z-index: 1;
    background: linear-gradient(226.20deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.03) 52%, rgba(255, 255, 255, 0.12) 100%);
   
    z-index: 1;
    &::before {
        content: "";
        position: absolute;
        top: 1px;
        right: 1px;
        width: 50%; // регулируй размер подсветки
        height: 50%;
        //background: ;
        border-radius: 32px;
        border: 2px solid;
        border-color: linear-gradient(47.67deg, rgba(255, 255, 255, 0) 67.58%, rgba(255, 255, 255, 0.6) 100.69%);
        z-index: 0;
        opacity: 0.35;
       
      }
      &::after {
        content: "";
        position: absolute;
        bottom: 1px;
        left: 1px;
        width: 50%;
        height: 50%;
        border-radius: 32px;
        border: 2px solid;
        border-color: linear-gradient(227.43deg, rgba(255, 255, 255, 0) 65.44%, rgba(255, 255, 255, 0.6) 100%);
        z-index: 0;
        opacity: 0.35;
      
      }
  }
  &__tab-nav {
/*     width: calc(100% - 1px);
    height: calc(100% - 1px); */
   // border: 1px solid transparent;
    position: relative;
    z-index: 2; // выше градиентов
    border-radius: 32px;
    padding: 24px;
    backdrop-filter: blur(16px);
    }

  &__tab-nav-title {
    @include RobotoCondensed-600;
    font-size: 25px;
    color: $light;
    line-height: 1;
    margin-bottom: 30px;
  }
  &__tabs-content {
    max-width: 785px;
    width: 100%;
  }
}

.tab {
  &__item {
    display: none;

    &--active {
      display: block;
    }
  }

  &__inner {
    display: flex;
    align-items: stretch;
  }

  &__content {

  }

}

.tab-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 25px;
  &__btn {
    @include Inter-400;
    color: $light;
    font-size: 16px;
    line-height: 1;
    text-transform: capitalize;
    background-color: transparent;
    display: block;
    padding: 2px 0;
    position: relative;
    width: 100%;
    text-align: left;

    &:hover {
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }
    
      &::before {
        left: -25px;
      }
    
      &::after {
        right: -25px;
      }
    }

    &:active {
    }


    &--active {
      color: $light-900;
      &::before,
      &::after {
        position: absolute;
        content: '';
        height: 100%;
        width: 4px;
        background-color: $light-900;
        top: 50%;
        transform: translateY(-50%)
      }
      &::before {
        left: -25px;
      }
      &::after {
        right: -25px;
      }
    }
  }
}

.terms,
.privacy,
.refund,
.aboutUs {
  &__section {
    padding: 15px 0;
  }
  &__main-title {
    @include RobotoCondensed-600;
    font-size: 72px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
  }
  &__title {
    @include RobotoCondensed-600;
    font-size: 36px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
  }
  &__subtitle {
    @include RobotoCondensed-600;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
  }
  &__text {
    @include Inter-400;
    font-size: 18px;
    line-height: 1;
    color: $light;
    margin-bottom: 15px;
    &--down {
      margin-top: 15px;
    }
    &:last-child {
      margin-bottom: 0;
    }
  }
  &__item {
    @include Inter-400;
    font-size: 18px;
    line-height: 1;
    color: $light;
    padding-left: 38px;
    position: relative;
    margin-bottom: 10px;
    &:last-child {
      margin-bottom: 0;
    }
    &::before {
      position: absolute;
      content: "";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      left: 15px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $light-900;
    }
  }
}
.terms-link {
  @include Inter-400;
  color: $light-900;
  font-size: 18px;
  position: relative;
  padding-bottom: 1px;
  &::before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: $light-900;
  }
}